In [1]:
import pandas as pd
import numpy as np
import datetime as dt

from cme_calendar import CMEHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [2]:
# create instance of our custom CME calendar to use to drop holidays and such
cme_cal = CustomBusinessDay(calendar=CMEHolidayCalendar())

In [3]:
hog_vol_df = pd.read_csv("../data/he_futures_data.csv", names=["Index", "Product", "Contract", 
                                                                  "Price", "Date", "???"])

# slice by contract right off the bat
exp_months = hog_vol_df["Contract"].unique()

contract_vol_dict = {}

for month in exp_months:
    mon_df = hog_vol_df.loc[hog_vol_df["Contract"] == month]
    mon_df.set_index("Date", inplace=True)
    
    mon_df.index = pd.to_datetime(mon_df.index)
    
    ###### want to get rid of all of the data that isn't by seconds
    mon_df["Day"] = mon_df.index.date
    mon_df = mon_df.loc[(mon_df["Day"] == mon_df["Day"].shift(1)) | (mon_df["Day"] == mon_df["Day"].shift(-1))]

    ###### converting to central time. also handles daylight savings time inconsistencies
    # times of raw data appear to be utc
    mon_df["UTC_Time"] = mon_df.index.tz_localize("UTC")
    mon_df.set_index("UTC_Time", inplace=True)

    mon_df["Central_Time"] = mon_df.index.tz_convert("US/Central")
    mon_df.set_index("Central_Time", inplace=True)

    mon_df["Time"] = mon_df.index.time
    
    ###### want to get open price (first price of minute 8:30) while still being able to get the last price of minute 8:30
    
    # if no trading in the first minute, that's fine because we're calculating intraday volatility and the first however
    # many minutes will be all the same value padded from the previous close/overnight trading. Also, don't want to make
    # a later price the open price before it's actually traded

    # getting all the open prices separately and making their times 8:29
    open_df = mon_df.loc[(mon_df["Time"] >= dt.time(hour=8, minute=30, second=0)) & (mon_df["Time"] < dt.time(hour=8, minute=31, second=0))]

    # drop rows if the previous row is from the same day
    open_df = open_df.loc[open_df["Day"] != open_df["Day"].shift(1)]

    open_df.index = open_df.index.shift(periods=-1, freq="T")

    # getting rid of any other times that are 8:29 to make way for the open prices - resampling by last value of minute later
    mon_df = mon_df.loc[(mon_df["Time"] < dt.time(hour=8, minute=29, second=0)) | (mon_df["Time"] > dt.time(hour=8, minute=29, second=59))]

    # concatenating dataframes and putting back in the right order
    mon_df = pd.concat([mon_df, open_df], sort=False).sort_index()
    mon_df["Time"] = mon_df.index.time # make open times 8:29 instead of 8:30
    
    ###### convert to minute frequency, taking the last value within each minute - gets open price (8:29) & close price (13:04)
    mon_df = mon_df.resample("1T").last()
    
    # go to next iteration if there's no second-frequency data for the time period the contract is traded in
    if len(mon_df) == 0:
        continue
    
    ###### it looks like we need to remove non-market days & times because resample basically picked every minute from 
    # the start to the end of the data which is nice in some ways but not nice in others
    
    mon_df["Day"] = mon_df.index.date
    mon_df["Time"] = mon_df.index.time # going to need this later to get only market hours

    # resetting the index so .loc works with a datetime index and doesnt end up turning the data to daily frequency
    mon_df.reset_index(inplace=True) # want to keep old index as column
    mon_df.set_index("Day", inplace=True)
    
    mon_df.index = pd.to_datetime(mon_df.index)
    
    # taking only business days according to our cme calendar
    bus_days = pd.date_range(start=mon_df.index[0], end=mon_df.index[-1], freq=cme_cal).sort_values(ascending=True)
    mon_df = mon_df.loc[bus_days]
    
    # now trying to just get market hours, which are 8:30 to 13:05 just looking at the data
    mon_df.reset_index(inplace=True)
    mon_df.set_index("Time", drop=False, inplace=True)
    mon_df = mon_df.loc[(mon_df.index >= dt.time(hour=8, minute=29, second=0)) & (mon_df.index <= dt.time(hour=13, minute=4, second=0))]
    
    # took open price (8:29) through close price (last price of 13:04) so now we adjust the index to make it 8:30-13:05
    mon_df.set_index("Central_Time", inplace=True)
    mon_df.index = mon_df.index.shift(periods=1, freq="T")
    mon_df["Time"] = mon_df.index.time # have to reset time again...
    
    ###### now we want to fill in missing values, probably by using the most recent price. so this is "padding" i think
    mon_df.interpolate(method="pad", inplace=True)
    
    ###### dropping first day of every contract in case trading doesn't start exactly at the open (13:30) since it wouldn't have gotten interpolated
    mon_df = mon_df.loc[mon_df["Day"] != mon_df.loc[mon_df.index[0], "Day"]]
    
    # check that there aren't any empty dataframes
    if len(mon_df) == 0:
        continue
    
    contract_vol_dict[month] = mon_df
    
    print(month)
    
contract_vol_dict["JUL18"]

/Users/samgruenler/opt/anaconda3/envs/utc/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

JUL18
JUN18
APR18
DEC18
AUG18
MAY18
OCT18
FEB18
FEB19
APR19
MAY19
JUN19
JUL19
AUG19
FEB21
APR21
MAY21
JUN21
JUL21
AUG21
OCT21
DEC21
FEB22

,Day,Index,Product,Contract,Price,???,Time
Central_Time,,,,,,,
2018-02-05 08:30:00-06:00,2018-02-05,40830.0,HE,JUL18,83.700,\N,08:30:00
2018-02-05 08:31:00-06:00,2018-02-05,41251.0,HE,JUL18,83.650,\N,08:31:00
2018-02-05 08:32:00-06:00,2018-02-05,41562.0,HE,JUL18,83.800,\N,08:32:00
2018-02-05 08:33:00-06:00,2018-02-05,41767.0,HE,JUL18,83.750,\N,08:33:00
2018-02-05 08:34:00-06:00,2018-02-05,42065.0,HE,JUL18,83.725,\N,08:34:00
...,...,...,...,...,...,...,...
2018-07-16 11:56:00-05:00,2018-07-16,4163314.0,HE,JUL18,79.725,\N,11:56:00
2018-07-16 11:57:00-05:00,2018-07-16,4163314.0,HE,JUL18,79.725,\N,11:57:00
2018-07-16 11:58:00-05:00,2018-07-16,4163314.0,HE,JUL18,79.725,\N,11:58:00
2018-07-16 11:59:00-05:00,2018-07-16,4163452.0,HE,JUL18,79.725,\N,11:59:00
2018-07-16 12:00:00-05:00,2018-07-16,4163498.0,HE,JUL18,79.750,\N,12:00:00

List of contracts above is the list of contracts where some minute data exists. A lot of times it's just one random day where prices for two different times are listed instead of one, but that means the whole dataframe gets kept and interpolated. With actual data it will make more sense.

Now that the data is nicely formatted, we need to get daily volatility data for each day. Since we ultimately want to end up with daily frequency dataframes for each contract, we might as well create those now and just put the daily volatility data directly in there. 

We're still going to need to do everything for each contract, so we'll have to iterate through the dictionary we created in the above cell.

In [4]:
# create a new dictionary for the daily dataframes. This is starting to get messy

daily_contract_dict = {}

for contract in contract_vol_dict.keys():
    min_df = contract_vol_dict[contract].copy()
    
    # new daily frequency dataframe
    day_df = min_df.resample("1D").last()
    
    #### and we have to remove non business days. again
    
    day_df["Day"] = day_df.index.date
    day_df.reset_index(inplace=True)
    day_df.set_index("Day", inplace=True)
    
    day_df.index = pd.to_datetime(day_df.index)
    
    # taking only business days according to our cme calendar
    bus_days = pd.date_range(start=day_df.index[0], end=day_df.index[-1], freq=cme_cal).sort_values(ascending=True)
    day_df = day_df.loc[bus_days]
    

    #### now we can get started getting daily vol
    day_df.set_index("Central_Time", inplace=True)
    day_df["Date"] = day_df.index.date
    
    # another long line... calculates standard deviation of minute log returns and then scales by number of minutes in trading day (number of prices - 1)
    # calculates intraday vol: doesn't include any changes from close to open
    day_df["Daily_Vol"] = day_df["Date"].apply(lambda x: abs(np.log(min_df.loc[min_df["Day"] == str(x)]["Price"]) - np.log(min_df.loc[min_df["Day"] == str(x)]["Price"].shift(1))).dropna().std()*np.sqrt(len(min_df.loc[min_df["Day"] == str(x)])-1))
    
    day_df["Annualized_Vol"] = day_df["Daily_Vol"]*np.sqrt(252)
    
    for t in [2, 5, 10, 20]:
        day_df[f"Vol_{t}"] = day_df["Annualized_Vol"].rolling(t).mean()
        day_df[f"Abs_Change_{t}"] = abs(day_df["Price"] - day_df["Price"].shift(t))
        day_df[f"Change_{t}"] = day_df["Price"] - day_df["Price"].shift(t)
    
    # set the index to be just the day. Makes things easier when we read in to do analysis and we aren't really losing any info
    day_df.set_index("Date", inplace=True)
    
    day_df.drop(columns=["Index", "???", "Time"], inplace=True)
    
#     print(day_df)
    
    daily_contract_dict[contract] = day_df
    
    # exporting to csv so we can use it for regressions in the hog_analysis notebook
    day_df.to_csv(f"../data/{contract}.csv")
    
daily_contract_dict["AUG18"]

,Product,Contract,Price,Daily_Vol,Annualized_Vol,Vol_2,Abs_Change_2,Change_2,Vol_5,Abs_Change_5,Change_5,Vol_10,Abs_Change_10,Change_10,Vol_20,Abs_Change_20,Change_20
Date,,,,,,,,,,,,,,,,,
2018-02-05,HE,AUG18,82.725,0.009508,0.150941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-06,HE,AUG18,81.300,0.009530,0.151288,0.151114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-07,HE,AUG18,80.300,0.010973,0.174192,0.162740,2.425,-2.425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-08,HE,AUG18,80.375,0.008739,0.138734,0.156463,0.925,-0.925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-09,HE,AUG18,80.125,0.007026,0.111533,0.125134,0.175,-0.175,0.145338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08-08,HE,AUG18,54.975,0.017425,0.276606,0.243181,1.450,-1.450,0.215776,5.150,-5.150,0.206240,11.250,-11.250,0.199939,13.700,-13.700
2018-08-09,HE,AUG18,55.100,0.015425,0.244863,0.260734,0.675,-0.675,0.231658,3.650,-3.650,0.207289,9.950,-9.950,0.200374,15.225,-15.225
2018-08-10,HE,AUG18,54.875,0.011887,0.188701,0.216782,0.100,-0.100,0.230032,3.475,-3.475,0.208883,8.800,-8.800,0.200526,15.325,-15.325
2018-08-13,HE,AUG18,55.525,0.007828,0.124269,0.156485,0.425,0.425,0.208839,0.900,-0.900,0.206416,7.700,-7.700,0.195495,13.775,-13.775
2018-08-14,HE,AUG18,55.050,0.005603,0.088939,0.106604,0.175,0.175,0.184675,0.725,-0.725,0.195250,6.125,-6.125,0.191724,12.975,-12.975

The rest of the cells are just me trying stuff out to get to the results above, primarily for the first for loop.

In [42]:
# making a copy of the july 2019 dataframe just to try stuff on
jul_df = contract_vol_dict["JUL19"].copy()

# this didn't actually work so much because we didn't get the open price

jul_df = jul_df.resample("1T").last

jul_df["Day"] = jul_df.index.date
jul_df["Time"] = jul_df.index.time # going to need this later to get only market hours

# it looks like we need to remove non-market days & times because resample basically included every minute from 
# the start to the end of the data which is nice in some ways but not nice in others

# resetting the index so .loc works with a datetime index and doesnt end up turning the data to daily frequency
jul_df.reset_index(inplace=True) # want to keep old index as column
jul_df.set_index("Day", drop=False, inplace=True)

# print(jul_df)

jul_df.index = pd.to_datetime(jul_df.index)

# print(jul_df)

bus_days = pd.date_range(start=jul_df.index[0], end=jul_df.index[-1], freq=cme_cal).sort_values(ascending=False)
# print(bus_days)

jul_df = jul_df.loc[bus_days]

# print(jul_df)

print(jul_df["Price"].isna().sum())

jul_df.set_index("Time", drop=False, inplace=True)



jul_df.to_csv("../data/jul_19_vol.csv")

In [44]:
# making a copy of the july 2019 dataframe just to try stuff on
jul_df = contract_vol_dict["JUL19"].copy()

# want to get open price (first price of minute 8:30 while still being able to get the last price of minute 8:30)
# if no trading in the first minute, that's fine because we're calculating intraday volatility and the first however
# many minutes will be all the same value padded from the previous close/overnight trading. Also, don't want to make
# a later price the open price before it's actually traded

# getting all the open prices separately and making their times 8:29
open_df = jul_df.loc[(jul_df["Time"] >= dt.time(hour=8, minute=30, second=0)) & (jul_df["Time"] < dt.time(hour=8, minute=31, second=0))]

# drop rows if the previous row is from the same day
open_df = open_df.loc[open_df["Day"] != open_df["Day"].shift(1)]

open_df.index = open_df.index.shift(periods=-1, freq="T")

# getting rid of any other times that are 8:29 to make way for the open prices
jul_df = jul_df.loc[(jul_df["Time"] < dt.time(hour=8, minute=29, second=0)) | (jul_df["Time"] > dt.time(hour=8, minute=29, second=59))]

# concatenating dataframes and putting back in the right order
jul_df = pd.concat([jul_df, open_df], sort=False).sort_index()
jul_df["Time"] = jul_df.index.time

jul_df

jul_df.to_csv("../data/jul_19_vol.csv")

In [ ]:
# now trying to just get market hours
jul_df = jul_df.loc[(jul_df.index >= dt.time(hour=13, minute=30, second=0)) & (jul_df.index <= dt.time(hour=18, minute=5, second=0))]


print(jul_df)

jul_df.to_csv("../data/jul_19_vol.csv")

In [ ]:
# now we want to fill in missing values, probably by using the most recent price. so this is "padding" i think
jul_df.set_index("Date", inplace=True)

jul_df.interpolate(method="pad", inplace=True)

jul_df

In [17]:
# trying to fix timezone stuff :(

jul_df = contract_vol_dict["JUL19"].copy()
jul_df.set_index("Date", inplace=True)

jul_df["UTC_Time"] = jul_df.index.tz_localize("UTC")

jul_df.set_index("UTC_Time", inplace=True)

jul_df["Central_Time"] = jul_df.index.tz_convert("US/Central")
jul_df.set_index("Central_Time", inplace=True)

jul_df["Time"] = jul_df.index.time

jul_df.reset_index(inplace=True)
jul_df.set_index("Time", drop=False, inplace=True)

jul_df

,Central_Time,Index,Product,Contract,Price,???,Day,Time
Time,,,,,,,,
08:53:00,2018-08-01 08:53:00-05:00,4404676.0,HE,JUL19,71.775,\N,2018-08-01,08:53:00
08:54:00,2018-08-01 08:54:00-05:00,NaN,None,None,NaN,None,2018-08-01,08:54:00
08:55:00,2018-08-01 08:55:00-05:00,NaN,None,None,NaN,None,2018-08-01,08:55:00
08:56:00,2018-08-01 08:56:00-05:00,NaN,None,None,NaN,None,2018-08-01,08:56:00
08:57:00,2018-08-01 08:57:00-05:00,NaN,None,None,NaN,None,2018-08-01,08:57:00
...,...,...,...,...,...,...,...,...
13:48:00,2018-11-16 13:48:00-06:00,NaN,None,None,NaN,None,2018-11-16,13:48:00
13:49:00,2018-11-16 13:49:00-06:00,NaN,None,None,NaN,None,2018-11-16,13:49:00
13:50:00,2018-11-16 13:50:00-06:00,NaN,None,None,NaN,None,2018-11-16,13:50:00
13:51:00,2018-11-16 13:51:00-06:00,NaN,None,None,NaN,None,2018-11-16,13:51:00
13:52:00,2018-11-16 13:52:00-06:00,5913805.0,HE,JUL19,84.825,84.0250000000,2018-11-16,13:52:00

In [11]:
jul_df.to_csv("../data/jul_tz_vol.csv")

The next thing is to turn this into volatility data, so the main tasks i see are to figure out how many minutes are in a typical day for this data, then get minute-by-minute log returns, then get daily volatility, then convert to annual volatility (should be multiplying by sqrt(# periods in day) * sqrt(252).

In [ ]:
oct_df = contract_vol_dict["OCT18"].copy()

# i think we should drop the first day of all the dataframes because they don't start trading at 13:30 for some reason? 
# Shouldn't matter for our purposes anyway
# going to make the change in the main loop at the top of this notebook

# oct_df.loc[oct_df.index[0], "Day"]

#oct_df.loc[oct_df["Day"] != oct_df.loc[oct_df.index[0], "Day"]]

# going to need to figure out how to take vol of the last day... trading seems to stop an hour before close?
# maybe need to handle as a special case. shouldn't be too hard hopefully

# how many mins in a day
len(oct_df.loc[oct_df["Day"] == oct_df.loc[oct_df.index[800], "Day"]])
# looks like 276
# what about the last day
len(oct_df.loc[oct_df["Day"] == oct_df.loc[oct_df.index[-1], "Day"]])
# only 210...

Now i'm pretty much ready to take log returns of all this, but I'm wondering if the log returns should capture interday volatility. I imagine they should since they would be pretty inaccurate otherwise. So I'm going to pretty much just take log returns and not worry too much about divisions between dates. First I think I'm going to reverse the order of the dataframe to keep it consistent with the bloomberg output. Easy to undo

In [ ]:
#oct_df = oct_df[::-1]

oct_df["Abs_Minute_Log_Return"] = abs(np.log(oct_df["Price"]) - np.log(oct_df["Price"].shift(-1)))*100

oct_df

# check out the mean of non abs log returns out of curiosity
oct_df["Minute_Log_Return"] = np.log(oct_df["Price"]) - np.log(oct_df["Price"].shift(-1))
oct_df["Minute_Log_Return"].mean()
# its like -4.624e-7 so pretty much 0. cool

Since we want volatility for periods of days, I'm realizing that it's probably not the best idea to get daily volatility first. So, what I'm going to try to do next is just find two day volatility for the last two days of this data and see how that goes.

In [ ]:
# need to figure out rolling window size. 

# set number of days
for t in [2, 5, 10, 20]:
    # now get winsize - 276 mins in a day except for the last and the first day
    # Probably don't need to worry about first day since volatility on that day is likely very close to 0 anyway
    # then just add the number of 
    winsize = t*276
    # formula we want to use
    oct_df[f"Vol_{t}"] = oct_df["Abs_Minute_Log_Return"].rolling(winsize).std().shift(1-winsize)*np.sqrt(276*252)
    # now handle last day as special case
    winsize = (t-1)*276 + len(oct_df.loc[oct_df["Day"] == oct_df.loc[oct_df.index[-1], "Day"]])
    # uh how am i going to annualize this if there are fewer periods on the last day...currently using average mins per day over period
    oct_df.loc[oct_df.index[0], f"Vol_{t}"] = oct_df.loc[oct_df.index[0]:oct_df.index[winsize-1], "Abs_Minute_Log_Return"].std()*np.sqrt((winsize/t)*252)

    # uhh just realized to get the actual accurate volatility for each minute of the last day we'd need to keep 
    # increasing the window size by 1 each minute to keep capturing all of the second to last day. yikes

oct_df

In [ ]:
hog_vol_df.set_index("Date", inplace=True)
hog_vol_df.index = pd.to_datetime(hog_vol_df.index)

date_slice = hog_vol_df.loc[hog_vol_df.index > "2018-10-01"]
date_slice.to_csv("../data/vol_date_slice.csv")

In [ ]:
date_slice = hog_vol_df.loc[hog_vol_df.index > "2018-10-01"]
date_slice.to_csv("../data/vol_date_slice.csv")

In [ ]:
contract_vol_dict["JUL19"].to_csv("../data/july_vol_slice.csv")

In [ ]:
contract_vol_dict["FEB21"]

In [34]:
contract_vol_dict["JUL18"].head(250)

,Day,Index,Product,Contract,Price,???,Time,Abs_Minute_Log_Return
Central_Time,,,,,,,,
2018-07-16 12:00:00-05:00,2018-07-16,4163498.0,HE,JUL18,79.750,\N,12:00:00,0.031353
2018-07-16 11:59:00-05:00,2018-07-16,4163452.0,HE,JUL18,79.725,\N,11:59:00,0.000000
2018-07-16 11:58:00-05:00,2018-07-16,4163314.0,HE,JUL18,79.725,\N,11:58:00,0.000000
2018-07-16 11:57:00-05:00,2018-07-16,4163314.0,HE,JUL18,79.725,\N,11:57:00,0.000000
2018-07-16 11:56:00-05:00,2018-07-16,4163314.0,HE,JUL18,79.725,\N,11:56:00,0.062696
...,...,...,...,...,...,...,...,...
2018-07-13 12:31:00-05:00,2018-07-13,4143635.0,HE,JUL18,79.975,\N,12:31:00,0.000000
2018-07-13 12:30:00-05:00,2018-07-13,4143635.0,HE,JUL18,79.975,\N,12:30:00,0.000000
2018-07-13 12:29:00-05:00,2018-07-13,4143603.0,HE,JUL18,79.975,\N,12:29:00,0.031265
2018-07-13 12:28:00-05:00,2018-07-13,4143252.0,HE,JUL18,79.950,\N,12:28:00,0.000000
2018-07-13 12:27:00-05:00,2018-07-13,4143252.0,HE,JUL18,79.950,\N,12:27:00,0.000000