In [2]:
import pandas as pd
import numpy as np
import datetime as dt

%load_ext autoreload
%autoreload 2

pd.options.display.max_rows = 2000
pd.options.display.max_columns = 2000

In [5]:
# slicing by expiration month
# pass in a number of cols of a product

FC = pd.read_csv("../data/FC1.csv")
exp_months = FC["Exp_Month"].unique()

for m in range(2,8):
    m_read = pd.read_csv(f"../data/FC{m}.csv")
    FC = FC.append(m_read, ignore_index=True)

#print(FC)

# store the new dataframes in a dictionary but can easily export all of these to csvs. Would just be a lot
gf_months = {}

for month in exp_months:
    mon_df = FC.loc[FC["Exp_Month"] == month]
    mon_df.set_index("Date", inplace=True)
    gf_months[month] = mon_df

In [6]:
# slicing by expiration month
# pass in a number of cols of a product

LC = pd.read_csv("../data/LC1.csv")
exp_months = LC["Exp_Month"].unique()

for m in range(2,8):
    m_read = pd.read_csv(f"../data/LC{m}.csv")
    LC = LC.append(m_read, ignore_index=True)

#print(LC)

# store the new dataframes in a dictionary but can easily export all of these to csvs. Would just be a lot
lc_months = {}

for month in exp_months:
    mon_df = LC.loc[LC["Exp_Month"] == month]
    mon_df.set_index("Date", inplace=True)
    lc_months[month] = mon_df

In [43]:
gf_aug = [gf_months[month] for month in exp_months if 'AUG' in month]
lc_feb = [lc_months[month] for month in exp_months if 'FEB' in month]

In [44]:
gf = pd.concat(gf_aug)
lc = pd.concat(lc_feb)

In [ ]:
gf.tail()

In [46]:
df = gf.merge(lc, how='inner', left_index=True, right_index=True, suffixes=["_FC", "_LC"])

In [47]:
zc = pd.read_csv("../data/C.csv").set_index('Date')
zc.index = pd.to_datetime(zc.index)

In [48]:
df = df.merge(zc, how='inner', left_index=True, right_index=True, suffixes=["", "_ZC"])

In [49]:
df

,Ticker_FC,Exp_Month_FC,Volume_FC,Settle_FC,Open_FC,Last_FC,Low_FC,High_FC,Ticker_LC,Exp_Month_LC,Volume_LC,Settle_LC,Open_LC,Last_LC,Low_LC,High_LC,Ticker,Exp_Month,Volume,Settle,Open,Last,Low,High
Date,,,,,,,,,,,,,,,,,,,,,,,,
2000-01-03,FCQ00,AUG 00,268,86.850,86.50,86.850,86.400,86.875,LCG01,FEB 01,15,73.500,73.250,73.500,73.25,73.800,C U00,SEP 00,1480,222.00,225.00,222.00,221.75,225.25
2000-01-03,FCQ00,AUG 00,268,86.850,86.50,86.850,86.400,86.875,LCG00,FEB 00,4890,69.700,69.650,69.700,69.40,69.900,C U00,SEP 00,1480,222.00,225.00,222.00,221.75,225.25
2000-01-04,FCQ00,AUG 00,233,86.700,86.60,86.700,86.400,86.750,LCG01,FEB 01,54,73.550,73.400,73.550,73.40,73.550,C U00,SEP 00,566,223.25,222.50,223.25,222.00,223.75
2000-01-04,FCQ00,AUG 00,233,86.700,86.60,86.700,86.400,86.750,LCG00,FEB 00,9485,69.075,69.375,69.075,68.80,69.375,C U00,SEP 00,566,223.25,222.50,223.25,222.00,223.75
2000-01-05,FCQ00,AUG 00,247,86.700,86.45,86.700,86.350,86.750,LCG01,FEB 01,39,73.600,73.650,73.600,73.50,73.750,C U00,SEP 00,463,224.00,223.00,224.00,222.25,224.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-21,FCQ0,AUG 20,607,142.925,143.35,142.925,142.750,143.725,LCG1,FEB 21,6220,114.625,115.300,114.625,114.50,115.600,C K1,MAY 21,13870,360.50,360.00,360.50,359.25,361.75
2020-08-24,FCQ0,AUG 20,1105,142.000,142.15,142.000,141.150,142.400,LCG1,FEB 21,9227,113.475,113.625,113.475,112.90,113.875,C K1,MAY 21,16463,364.25,361.25,364.25,360.75,364.50
2020-08-25,FCQ0,AUG 20,650,142.250,141.90,142.250,141.575,142.500,LCG1,FEB 21,7025,114.225,113.475,114.225,113.40,114.400,C K1,MAY 21,14894,372.75,367.25,372.75,367.25,373.50
2020-08-26,FCQ0,AUG 20,776,142.475,142.65,142.475,142.025,142.800,LCG1,FEB 21,8024,113.150,114.225,113.150,112.60,114.575,C K1,MAY 21,15388,372.50,372.00,372.50,370.00,373.25
2020-08-27,FCQ0,AUG 20,687,141.975,142.40,141.975,141.975,142.400,LCG1,FEB 21,10873,112.700,113.000,112.700,111.75,113.350,C K1,MAY 21,13372,376.00,372.00,376.00,371.00,376.25

In [ ]:
import matplotlib.pyplot as plt
import datetime

years = {}
for i in range(21):
    yr_df = df[(pd.to_datetime(df.index) > datetime.datetime(2000 + i, 5, 1)) & (pd.to_datetime(df.index) < datetime.datetime(2000 + i, 9, 1))]
    yr_df['Feeder Profit/CWT'] = (6 * 400 * yr_df['Settle_LC'].values - 2 * 50 * yr_df['Settle'].values - 3 * 500 * yr_df['Settle_FC'].values) / 1500
    years[2000 + i] = yr_df

In [ ]:
for year, yr_df in years.items():
    print(f"YEAR: {year}")
    print(f"EXPIRATION: {yr_df.index[-1]}")
    plt.figure(figsize=(15, 5))
    plt.plot(yr_df['Feeder Profit/CWT'])
    plt.show()